<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Room</th>
        <th>Phone</th>
        <th>Job</th>
    </tr>
    </thead>
    <tbody>
    {{# employees }}
        <tr>
            <td><a href="{{ employeeDetailName }}?employee_id={{ employee_id }}">{{surname}} {{name}}</a></td>
            <td>{{ room }}</td>
            <td>{{ phone }}</td>
            <td>{{ job }}</td>
            <td>

              <form action="update.php?employee_id={{ employee_id }}" method="post" style="display: inline-block;">
                <input type="hidden" name="employee_id" value="{{ employee_id }}" />
                <input type="submit" value="Update" class="btn btn-info {{^allowEdit}} disabled {{/allowEdit}}">
              </form>



              <form action="delete.php?employee_id={{ employee_id }}" method="post" onsubmit="return confirm('Really delete?\n\n this action cannot be undone!');" style="display: inline-block;">
                <input type="hidden" name="employee_id" value="{{ employee_id }}" />
                <input type="submit" value="Delete" class="btn btn-danger {{^allowEdit}} disabled {{/allowEdit}}">
              </form>
          </td>
        </tr>
    {{/employees}}
    </tbody>
</table>
<a href="create.php" class="btn btn-info {{^allowEdit}} disabled {{/allowEdit}}">Create</a>
