<form method="post">
  <fieldset>
    <legend>
      {{#create}}
        <h1>Vytvoření zaměstnance</h1>
      {{/create}}
      {{#update}}
        <h1>Update zaměstnance</h1>
      {{/update}}
    </legend>
    <input type="hidden" name="employee_id" value="{{ employee_id }}" />


    <div class="my-2">
      <div class="container">
        <div class="row">

          <div class="col-sm">

            <div class="my-2">
              <label for="name">name</label>
              <input id="name" name="name" class="form-control" type="text" value="{{employee.name}}" />
              {{#errors.name}}
                <div class="form-text text-danger">{{errors.name}}</div>
              {{/errors.name}}
            </div>
            <div class="my-2">
              <label for="surname">surname</label>
              <input id="surname" name="surname" class="form-control" type="text" value="{{employee.surname}}" />
              {{#errors.surname}}
                <div class="form-text text-danger">{{errors.surname}}</div>
              {{/errors.surname}}
            </div>
            <div class="my-2">
              <label for="job">job</label>
              <input id="job" name="job" class="form-control" type="text" value="{{employee.job}}" />
              {{#errors.job}}
                <div class="form-text text-danger">{{errors.job}}</div>
              {{/errors.job}}
            </div>
            <div class="my-2">
              <label for="wage">wage</label>
              <input id="wage" name="wage" class="form-control" type="text" value="{{employee.wage}}" />
              {{#errors.wage}}
                <div class="form-text text-danger">{{errors.wage}}</div>
              {{/errors.wage}}
            </div>
            <div class="my-2">


              <div class="form-group">
                <label for="room">room</label>
                <select class="form-control" id="room" name="room">
                  {{#rooms}}
                    <option value="{{room_id}}">{{name}}</option>
                  {{/rooms}}
                </select>
              </div>
              {{#errors.room}}
                <div class="form-text text-danger">{{errors.room}}</div>
              {{/errors.room}}


            </div>
            <div class="my-2">
              <label for="login">login</label>
              <input id="login" name="login" class="form-control" type="text" value="{{employee.login}}" />

              {{#errors.login}}
                <div class="form-text text-danger">{{errors.login}}</div>
              {{/errors.login}}
            </div>
            <div class="my-2">
{{#update}}
              <label for="changePswd">
                změnit heslo
              </label>
              <input type="checkbox" id="changePswd" class="form-check-input" onclick="document.getElementById('pswd').disabled = !document.getElementById('pswd').disabled; document.getElementById('changePswd').value = (document.getElementById('changePswd').value) == 'false' ? true : false;" name="setPswd" value="false">
{{/update}}
              <input id="pswd" name="pswd" class="form-control" type="password" value="{{employee.pswd}}" {{#update}}disabled{{/update}}/>
              {{#errors.pswd}}
                <div class="form-text text-danger">{{errors.pswd}}</div>
              {{/errors.pswd}}
            </div>

            <div class="my-2">

              <div class="form-check">
                <label><input type="radio" class="form-check-input" name="user" value="0" {{^employee.admin}}checked{{/employee.admin}}>user</label>
              </div>

              <div class="form-check">
                <label><input type="radio" class="form-check-input" name="user" value="1" {{#employee.admin}}checked{{/employee.admin}}>admin</label>
              </div>


            </div>

          </div>



          <div class="col-sm">

            {{#create}}
              <label for="rooms">Klíče</label>
              <select name="roomsForKeys[]" id="rooms" class="form-select" size="15" id="choices-multiple-remove-button" multiple>
                {{#keys}}
                  <option value="{{room_id}}">{{name}}</option>
                {{/keys}}
              </select>
            {{/create}}

            {{#update}}
              <label for="keysToAdd">Klíče</label>
              <select name="roomsForKeys[]" id="keysToAdd" class="form-select" size="15" id="choices-multiple-remove-button" multiple>
                {{#employee.keys}}
                  <option value="{{id}}" {{#selected}}selected{{/selected}}>{{name}}</option>
                {{/employee.keys}}
              </select>
            {{/update}}




          </div>


        </div>
      </div>

      <div class="my-2">
        {{#create}}<input type="hidden" name="action" value="create" />
          <input type="submit" value="Create" class="btn btn-primary" />{{/create}}
        {{#update}}<input type="hidden" name="action" value="update" />
          <input type="hidden" name="room_id" value="{{room.room_id}}">
          <input type="submit" value="Update" class="btn btn-primary" />{{/update}}
      </div>

    </div>
    <fieldset>
</form>
