<form method="post">

    <div class="my-2">
        <label for="pswd">Současné heslo</label>
        <input id="pswd" name="pswd" class="form-control" type="password" value=""/><!--mělo by být required-->
        <div class="form-text text-warning">{{errors.currentPswd}}</div>
    </div>
    <div class="my-2">
        <label for="newPswd">Nové heslo</label>
        <input id="newPswd" name="newPswd" class="form-control" type="password" value=""/><!--mělo by být required-->
        <div class="form-text text-warning"></div>
    </div>

    <div class="my-2">
        <input type="submit" value="Změnit heslo" class="btn btn-primary" />
    </div>
</form>
