<div class="container">
  <h1>Prohlížeč databáze</h1>
  <ul class="list-group">
    <li class="list-group-item"><a href="{{employeeList}}">Seznam zaměstnanců</a></li>
    <li class="list-group-item"><a href="{{roomList}}">Seznam místností</a></li>
    <li class="list-group-item"><a href="{{changePswd}}">Změnit heslo</a></li>


  </ul>
</div>
