<form method="post">
  <fieldset>
    <legend>
      {{#create}}
        <h1>Vytvoření místnosti</h1>
      {{/create}}
      {{#update}}
        <h1>Update místnosti</h1>
      {{/update}}
    </legend>



    <div class="my-2">
      <div class="container">
        <div class="row">

          <div class="col-sm">

            <div class="my-2">
              <label for="name">Room name</label>
              <input id="name" name="name" class="form-control" type="text" value="{{room.name}}" />
              <!--mělo by být required-->
              {{#errors.name}}
                <div class="form-text text-danger">{{errors.name}}</div>
              {{/errors.name}}
            </div>
            <div class="my-2">
              <label for="no">No.</label>
              <input id="no" name="no" class="form-control" type="text" value="{{room.no}}" />
              <!--mělo by být required-->
              {{#errors.no}}
                <div class="form-text text-danger">{{errors.no}}</div>
              {{/errors.no}}
            </div>
            <div class="my-2">
              <label for="phone">Phone</label>
              <input id="phone" name="phone" class="form-control" type="text" value="{{room.phone}}" />
              {{#errors.phone}}
                <div class="form-text text-danger">{{errors.phone}}</div>
              {{/errors.phone}}

            </div>
          </div>



        </div>
      </div>

      <div class="my-2">
        {{#create}}<input type="hidden" name="action" value="create" />
          <input type="submit" value="Create" class="btn btn-primary" />{{/create}}
        {{#update}}<input type="hidden" name="action" value="update" />
          <input type="hidden" name="room_id" value="{{room.room_id}}">
          <input type="submit" value="Update" class="btn btn-primary" />{{/update}}
      </div>

    </div>
    <fieldset>
</form>
